<div>
    <h1 class="text-center">Quotes</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div *ngFor = 'let quote of quotes; let i = index'>
                <div>
                    <h5 appHighlight>{{ quote.name }}.</h5>
                    <h6>It was posted on {{quote.completeDate|date}}.</h6>
                    <button (click) = 'toggleDetails(i)' class="btn btn-warning">Details</button>
                </div>
                
                <div *ngIf = 'quote.showDescription'>
                    <app-quote-detail  [quote] = 'quote' (toDelete) = 'deleteQuote($event,i)'></app-quote-detail>       
                </div>            
            </div>
        </div>
        <div class="col-md-6">
            <app-quote-form (addQuote) = "addNewQuote($event)"></app-quote-form>
        </div>
    </div> 
</div>
